#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu{display: flex;justify-content: center;}
.menu-2{display: flex;gap:20px}
.e-card.playing h2{position: absolute;top: 33%;left: 50%;transform: translate(-50%,-33%);text-transform: uppercase;text-align: center;}
body{background-image: url(https://www.techpowerup.com/img/5Xvt6T2qFBioOiaO.jpg);background-size: cover;bac}