
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background-image: url(https://www.techpowerup.com/img/5Xvt6T2qFBioOiaO.jpg);background-size: cover;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .4); 
  z-index: 0;
}
